<div class="col-xs-10 col-xs-offset-1 about ">
	<h1>About Splurty</h1>

	 <p>
    	Splurty was built by <a target="_blank" href="    https://www.linkedin.com/pub/gunjan-patel/21/aa8/30b">Gunjan</a>. An aspiring web developer who is on a mission to help turn unique ideas ideas into reality.
 	 </p>
  </br>
  	<p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
	</p>

  </br>
  </br>
  </br>
  </br>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'gunjan.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h1 class="text-center">Gunjan Patel</h1>
    <br />
    <p>
      Gunjan is a technical design engineer by day and web designer/programmer by night. Currently working to help create innovative kitchen and bath fixtures, He hopes to one day use his  coding knowledge to further advance technology to a higher level. 
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />